

<h2>予定の新規追加</h2>

<%= render "shared/error", obj: @post %>

<%= form_with model: Post.new do |f| %>
    <table>
        <tr>
            <th><%= f.label :タイトル %></th>
            <td><%= f.text_field :title %><br></td>
        </tr>
        <tr>
            <th><%= f.label :開始日 %></th>
            <td><%= f.text_field :start_at %><br></td>
        </tr>
        <tr>
            <th><%= f.label :終了日　%></th>
            <td><%= f.text_field :end_at %><br></td>
        </tr>   
        <tr>
            <th><%= f.label :終日%></th>
            <td><%= f.check_box :allday, :as => :boolean %>　終日の場合はチェックを入れます</td>
        </tr>    
        <tr>
            <th><%= f.label :メモ %></th>
            <td><%= f.text_area :memo %></td>
        </tr>
    </table>
    
        <%= f.submit "送信" %>
 <p><%= f.submit "保存" %></p>
<% end %>

